## Top Investor

#### Problem Statement:
Find the Investors who have invested maximum number of times.
<br>
Print the investor name and number of times invested as integer value.<br>

__Note:__<br>
In startup, multiple investors might have invested. So consider each investor for that startup.<br>
<br>
Ignore the indisclossed investors
#### Output Format:
investorname number

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
# Importing the dataset
startup = pd.read_csv('startup_funding.csv')
# making the copy of the dataframe
df = startup.copy()
df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [20]:
df["InvestorsName"].fillna('',inplace = True)
df = df[df["InvestorsName"] != '']
df["InvestorsName"] = df["InvestorsName"].str.replace(",\xa0 ",", ")
df["InvestorsName"] = df["InvestorsName"].str.replace(", ",",")

C:\Users\AneervanRay\Anaconda_3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah,Anand Sankeshwar,Deepak Jain,Sa...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah,LetsVenture,Anupam Mittal,Hetal Sonpal",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi,Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund,GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [24]:
# Considering the comma separated InvestorsName single
df2 = df.assign(InvestorsName=df['InvestorsName'].str.split(',')).explode('InvestorsName')
df2

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,Kashyap Deorah,Seed Funding,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,Anand Sankeshwar,Seed Funding,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,Deepak Jain,Seed Funding,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,Exfinity Fund,Private Equity,"1,500,000",NaN
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,GrowX Ventures.,Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [25]:
df3 = df2.loc[:, 'InvestorsName']
df3

0                             Kae Capital
1              Triton Investment Advisors
2                          Kashyap Deorah
2                        Anand Sankeshwar
2                             Deepak Jain
                      ...
2368                       KARSEMVEN Fund
2369                        Exfinity Fund
2369                      GrowX Ventures.
2370                           MakeMyTrip
2371    UK based Group of Angel Investors
Name: InvestorsName, Length: 4569, dtype: object

In [37]:
df4 = pd.DataFrame(df3.value_counts())
df4

                                   InvestorsName
Sequoia Capital                               64
Accel Partners                                53
Kalaari Capital                               44
SAIF Partners                                 41
Indian Angel Network                          40
...                                          ...
Sumit Dayal and others                         1
Deepak Sharma                                  1
Soumitra Sharma                                1
ThirtyThree Investments                        1
UK based Group of Angel Investors              1

[2546 rows x 1 columns]

In [38]:
print(df4.iloc[0,:])

InvestorsName    64
Name: Sequoia Capital, dtype: int64