## Terror Government

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period.

#### Problem Statement:
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-<br>
<br>
1. Total number of attacks done in this period in India. Find this count as integer
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks.
3. Ignore the Unknown group

#### Output Format:
TotalAttacks MostActive TerroristGroup

In [2]:
# Importing the libraries
import numpy as np
import pandas as pd

In [3]:
terror_data = pd.read_csv('terrorismData.csv')

In [4]:
# making the copy of the dataset
df =  terror_data.copy()
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [6]:
# Extracting the part of the dataset of 26th May 2014, India
df1 = df[(df['Year'] == 2014) & (df['Month'] == 5) & (df['Day'] == 26) & (df['Country'] == 'India')]
df1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
132468,2014,5,26,India,Andhra Pradesh,South Asia,Bandlapalli,14.714739,77.810281,Bombing/Explosion,0.0,0.0,Party Supporter,05/26/2014: An explosive device was discovered...,Unknown,Private Citizens & Property,Explosives
132496,2014,5,26,India,West Bengal,South Asia,Sandeshkhali,22.356709,88.881991,Armed Assault,0.0,12.0,Party Workers,05/26/2014: Assailants opened fire on Bharatiy...,Unknown,Violent Political Party,Firearms
132502,2014,5,26,India,West Bengal,South Asia,Sandeshkhali,22.363882,88.878679,Armed Assault,0.0,11.0,Members,05/26/2014: Assailants opened fire and threw e...,Unknown,Violent Political Party,Explosives

In [8]:
# a = df1[df1['Group'] != 'Unknown']
# a

Empty DataFrame
Columns: [Year, Month, Day, Country, State, Region, City, Latitude, Longitude, AttackType, Killed, Wounded, Target, Summary, Group, Target_type, Weapon_type]
Index: []

In [11]:
a = df1.describe()
a

         Year  Month   Day   Latitude  Longitude  Killed    Wounded
count     3.0    3.0   3.0   3.000000   3.000000     3.0   3.000000
mean   2014.0    5.0  26.0  19.811777  85.190317     0.0   7.666667
std       0.0    0.0   0.0   4.414166   6.391299     0.0   6.658328
min    2014.0    5.0  26.0  14.714739  77.810281     0.0   0.000000
25%    2014.0    5.0  26.0  18.535724  83.344480     0.0   5.500000
50%    2014.0    5.0  26.0  22.356709  88.878679     0.0  11.000000
75%    2014.0    5.0  26.0  22.360295  88.880335     0.0  11.500000
max    2014.0    5.0  26.0  22.363882  88.881991     0.0  12.000000

In [15]:
count = a.loc['count', 'Year']
count = int(count)
count

3

In [22]:
data = {'Total Attacks': count, 'Most Active': 'Unknown', 'Terrorist Group': 'Unknown'}
answer = pd.DataFrame(data, index=[0])
answer

   Total Attacks Most Active Terrorist Group
0              3     Unknown         Unknown